#include <windows.h>

CONNECTDLG DIALOG FIXED IMPURE  76, 55, 155, 76
STYLE DS_MODALFRAME | WS_POPUPWINDOW | WS_DLGFRAME
CAPTION "Connect Network Drive"
BEGIN
	CONTROL "D&rive:",        -1, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 7, 40, 9
	CONTROL "",               500, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 53, 3, 20, 40
	CONTROL "&Network Path:", -1, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 3, 21, 46, 8
	CONTROL "",               502, "EDIT", ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 53, 20, 96, 12
	CONTROL "Pass&word:",     -1, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 37, 36, 10
	CONTROL "",               501, "EDIT", ES_LEFT | ES_PASSWORD | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 53, 35, 60, 12
	CONTROL "&Connect",       IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 23, 54, 42, 14
	CONTROL "C&ancel",        IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 91, 55, 43, 14
END

STRINGTABLE
BEGIN
    600, "Network Error"
    601, "Unable to connect to network drive."
END
